@charset "utf-8";
/* En-Tête */
		*{
			padding: 0px;
			margin: 0;
			box-sizing: border-box;
			font-family: webkit-pictograph;
		}
		ul{
			margin-bottom: 5%;
			margin-right: 10%;
			display: flex;
			justify-content: right;
			height: auto;
			width: auto;
			list-style-type: none;	
		}
		nav{
			margin-bottom: 5%;
			border-bottom: 2px solid rgb(146, 231, 125);
		}
		li{
			flex-direction: column;
		}
		a{
			text-decoration: none;
			padding: 6px 14px;
		    font-size: 15px;
		    margin: 5px 0 0 20px;
		    display: inline-block;
		    background: #6773ff;
		    color: white;
		}
/* main contien la partie qui affiche les affiches de tous le films */
		main{
			width: auto;
			height: auto;
			/*background: red;*/
			margin: 10px auto;
			position: relative;
			padding: 5px 0;
		}
/* Les titres des sections ######################*/
		main header{
			width: 98%;
			height: 60px;
			margin: 0 auto;
			/*background: gray;*/
			display: flex;
			align-items: center;
			padding: 20px;
			justify-content: space-between;
			border-bottom: 2px solid #ddd;
		}
/*Les fléches qui defile les affiches dans les carrousels*/
		header p span{
			font-size: 40px;
		    margin: 0 5px;
		    cursor: pointer;
		    color: rgb(0, 0, 0);
		    width: 30px;
		    height: 30px;
		    display: inline-block;
		    line-height: 19px;
		    text-align: center;
		    border-radius: 3px;
		}
/* Section Films les mieux notés  */
		section{
			width: 75%;
			height: 700px;
			/* background: red; */
			margin: auto;
			margin-bottom: 80px;
			display: flex;
			align-items: center;
			overflow-x: auto;
		}
		section::-webkit-scrollbar{
			display: none;
		}
		section .films{
			min-width: 30%;
			height: 80%;
			background: rgb(204, 186, 186);
			margin:  0 20px 0 0;
			border-radius: 20px;
			position: relative;
			left: 0;
			transition: 0.5s;
		}
		picture{
			width: 100%;
			height: 100%;
			padding: 20px;
			/* background: rgb(234, 238, 234); */
			display: flex;
			overflow: hidden;
			margin-bottom: 20px;
		}
		picture img{
			width: 100%;	
		}
/*Section Meuilleur films d'animation ########## */
		.filmsAnimation{
			min-width: 30%;
			height: 80%;
			background: rgb(204, 186, 186);
			margin:  0 20px 0 0;
			border-radius: 20px;
			position: relative;
			left: 0;
			transition: 0.5s;
		}
/*Section Meuilleur films d'action ########## */
		.filmAction{
			min-width: 30%;
			height: 80%;
			background: rgb(204, 186, 186);
			margin:  0 20px 0 0;
			border-radius: 20px;
			position: relative;
			left: 0;
			transition: 0.5s;
		}
/*Section Meuilleur films biography ########## */
		.filmsBiography{
			min-width: 30%;
			height: 80%;
			background: rgb(204, 186, 186);
			margin:  0 20px 0 0;
			border-radius: 20px;
			position: relative;
			left: 0;
			transition: 0.5s;
		}
/* Film le mieux noté #########################*/
		picture.pic_meuilleur_film{
			width: 30%;
			height: 30%;
			padding: 20px;
			/*background: green;*/
			display: inline-flex;
			overflow: hidden;
			margin-bottom: 20px;
			justify-content: center;
			align-items: center;
			margin:0 0 0 30%;
		}
/* Resumé et titre du Film le mieux noté */
		#resume{
			font-size: 150%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		p#resume{
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
			height: 100px;
		}
		p#titre{
			font-size: 170%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: auto;
			height: 100px;
		}
/*Modal  ############################*/
		button {
			width: auto;
			/* background: red; */
			margin: auto;
			padding: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			font-size: 20px;
			color: #444;
			cursor: pointer;
			border-radius: 20px;
		}
		button#button_meuilleur_film {
			margin-bottom: 10%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: auto;
			width: 800px;
		}		
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
		}
		#modal-content p {
			text-align: left;
			font-size: 20px;
			font-family: 'Lato';
		}
		
		#modal-content {
			background-color: #bbbd73;
			margin: 15% auto;
			border: 1px solid rgb(24, 22, 22);
			width: auto;
			height: 800px;
			overflow: auto;
		}
		
		
		.close {
			color: rgb(29, 28, 28);
			position: relative;
			float: right;
			cursor: pointer;
			font-size: 50px;
			padding: 0 10px 0 0;
			font-weight: bold;
		}
		.modal1 {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.4);
		}
		.close1 {
			color: rgb(29, 28, 28);
			position: relative;
			float: right;
			cursor: pointer;
			font-size: 50px;
			padding: 0 10px 0 0;
			font-weight: bold;
		}
/* ######################################################### */
		@media (max-width: 768px) {
			.text h1{
				font-size: 35px;
			}
			.text p{
				width: 90%;
			}
			header h1{
				font-size: 25px;
			}
			header p span{
				font-size: 30px;
			}
			section .films {
				min-width: 49%;
				margin:  0 10px  0 0;
			}
			a{
				padding: 6px 10px;
			}
		}